/* .css properties */

h1 {
    color: red;
    font-size: 70px;
}

p{
    color:aqua;
    font-family: 'Courier New', Courier, monospace;
}

ul{
    color:blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}